<div class="Account">
    <div class="Account-Details">
        <div class="Profile">
            <div class="Profile-pic">
                <img>
            </div>

            <div class="Profile-Information">
                <p class="Profile-Name">Captain America</p>
                <p class="E-mail">cap.america987@gmail.com</p>
                <p class="Telephone">0779876543</p>
            </div>
        </div>
    </div>

    <div class="Account-Handdle">
        <button class="Log-Out">Sign out</button>
        <button class="Account-Settings">Settings</button> 
        <button class=""></button>
    </div>
</div>