<div class="Ad_Post px-3 px-sm-0">
    <div class="row">
        <div class="col-0 col-sm-1 col-lg-2">
            <div class="Ad-Banner">

            </div>
        </div>

        <div class="col-12 col-sm-10 col-lg-8">
            <div class="row">
                <div class="col-12">
                    <div class="Ads-Box d-flex justify-content-center mt-5 mb-2">
                        <div class="col-11 User-Ads py-4 mb-2">
                            <div class="Box-Title">
                                <h5>Posted Ads</h5>
                                <p>Select an Ad to manage</p>
                            </div>
                            
                            <hr>
    
                            <div class="Posted_Ads-List mt-3">
                                <div class="row">
                                    <div class="col-3 col-xl-2">
                                        <div class="One-Ad">
                                            <div class="Posted_Ad-Head">
                                                <h1>ipnone 11</h1>
                                            </div>
                                            
                                            <div class="Posted_Item-Image">
                                                <img src="../../assets/Iphone11.jpg">
                                                <h2>Rs. 215,000</h2>
                                            </div>
                                            
                                            <div class="Posted_Item-Location">
                                                <h3>Gampaha</h3>
                                                <p>Nittambuwa</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-3 col-xl-2">
                                        <div class="One-Ad">
                                            <div class="Posted_Ad-Head">
                                                <h1>Bajaj Discover 100cc</h1>
                                            </div>
                                            
                                            <div class="Posted_Item-Image">
                                                <img src="../../assets/Discover-100.jpg">
                                                <h2>Rs. 350,000</h2>
                                            </div>
                                            
                                            <div class="Posted_Item-Location">
                                                <h3>Colombo</h3>
                                                <p>Moratuwa</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-3 col-xl-2">
                                        <div class="One-Ad">
                                            <div class="Posted_Ad-Head">
                                                <h1>Land for sale</h1>
                                            </div>
                                            
                                            <div class="Posted_Item-Image">
                                                <img src="../../assets/Land.jpg">
                                                <h2>117,000 perch</h2>
                                            </div>
                                            
                                            <div class="Posted_Item-Location">
                                                <h3>Galle</h3>
                                                <p>Elpitiya</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-3 col-xl-2">
                                        <div class="One-Ad">
                                            <div class="Posted_Ad-Head">
                                                <h1>Office Chair</h1>
                                            </div>
                                            
                                            <div class="Posted_Item-Image">
                                                <img src="../../assets/Chair.jpg">
                                                <h2>Rs. 15,000</h2>
                                            </div>
                                            
                                            <div class="Posted_Item-Location">
                                                <h3>Jaffna</h3>
                                                <p>Wavniya</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="Ads-Box d-flex justify-content-center my-4">
                        <div class="col-11 User-Ads py-4">
                            <div class="Box-Title">
                                <h5>Post a new Ad</h5>
                                <p>Select any option</p>
                            </div>

                            <hr>
    
                            <div class="Post_New_Ad-Box mt-4">
                                <div class="row">
                                    <div class="col-11 col-md-4 d-flex justify-content-start">
                                        <div class="Content-Box py-3 ps-4 ps-md-1">
                                            <div class="Post-Title">
                                                <h4>Sell Something</h4>

                                                <div class="Post-Button">
                                                    <button><i class="bi bi-caret-right-fill"></i>&nbsp;Sell an item, property or service</button>
                                                    <button><i class="bi bi-caret-right-fill"></i>&nbsp;Offer a property for rent</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-11 col-md-4 d-flex justify-content-start">
                                        <div class="Content-Box py-3 ps-4 ps-md-1">
                                            <div class="Post-Title">
                                                <h4>Post a job vacancy</h4>

                                                <div class="Post-Button">
                                                    <button><i class="bi bi-caret-right-fill"></i>&nbsp;Sell an item, property or service</button>
                                                    <button><i class="bi bi-caret-right-fill"></i>&nbsp;Offer a property for rent</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-11 col-md-4 d-flex justify-content-start">
                                        <div class="Content-Box py-3 ps-4 ps-md-1">
                                            <div class="Post-Title">
                                                <h4>Look for something</h4>

                                                <div class="Post-Button">
                                                    <button><i class="bi bi-caret-right-fill"></i>&nbsp;Sell an item, property or service</button>
                                                    <button><i class="bi bi-caret-right-fill"></i>&nbsp;Offer a property for rent</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-0 col-sm-1 col-lg-2">
            <div class="Ad-Banner">

            </div>
        </div>
    </div>
</div>
