.User-Account{
    height:350px;
    width:280px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px 5px 0 rgb(0, 0, 172);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}