
<div class="Login-Form">
    
        <div class="col-10">
            <div class="Login-Head mt-2">
                <h4>Sign in</h4>
                <p>Please enter your details</p>
            </div>
        </div>
        
        <div class="col-10">
            <div class="login-Field">
                <div class="Field">
                    <p>Username</p>
                    <input placeholder="Email or phone">
                </div>
        
                <div class="Field">
                    <p>Password</p>
                    <input placeholder="Your password">
                </div>
            </div>
        </div>
        
        <div class="col-10">
            <div class="Options mt-1">
                <div class="Remember">
                    <input type="checkbox">
                    <p>Remember me</p>
                </div>
                <button>Forgot Password?</button>
            </div>
        </div>

        <div class="col-10">
            <div class="Sign-Button">
                <button>Sign in</button>
            </div>
        </div>
    
        <div class="col-10">
            <div class="Navigate-Register mt-2">
                <p>Don't have an account?</p>
                <a href="sign-up">Sign up</a>
            </div>
        </div>
    </div>

