<div class="Home">
    <div class="Image-Box">
        <div class="">
            <div class="row">
                <div class="col-12 col-md-10 col-lg-8 mt-5 pt-5">
                    <div class="Website-Description pb-2 text-center px-5 px-md-0 ps-md-5 text-md-start">
                        <h1 class="">The best e-commerce platform in Sri Lanka, because this is a shop o'clock some where.</h1>
                        <p class="">You can post an advertisement or buy something</p>
                    </div>
            
                    <div class="Search-Box mt-4">
                        <div class="container-fluid d-flex justify-content-center justify-content-md-start ps-md-5">
                            <div class="col-7">
                                <input class="Search-Home-Field" placeholder="What are you looking for ?">
                            </div>

                            <div class="col-2">
                                <button class="Search-Home-Btn">Search</button>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>

    <div class="Categories d-flex justify-content-center">
       
        <div class="Category-Items my-5 mx-5">
            <h2 class="ms-3 pb-3">Browse items by category</h2>
            <div class="row">
                <div class="Category-Box col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="Single-Category my-3" type="button" routerLink="/selected">
                        <div class="Align-Category">
                            <div class="Category-Image">
                                <img src="../../assets/Electronic.png">
                            </div>
    
                            <div class="Category-Name">
                                <h5>Electronics</h5>
                                <p>396 Ads</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="Category-Box col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="Single-Category my-3" type="button" routerLink="/selected">
                        <div class="Align-Category">
                            <div class="Category-Image">
                                <img src="../../assets/Vehicle.png">
                            </div>
    
                            <div class="Category-Name">
                                <h5>Vehicles</h5>
                                <p>396 Ads</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="Category-Box col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="Single-Category my-3" type="button" routerLink="/selected">
                        <div class="Align-Category">
                            <div class="Category-Image">
                                <img src="../../assets/Property.png">
                            </div>
    
                            <div class="Category-Name">
                                <h5>Property</h5>
                                <p>396 Ads</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="Category-Box col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="Single-Category my-3" type="button" routerLink="/selected">
                        <div class="Align-Category">
                            <div class="Category-Image">
                                <img src="../../assets/Business.png">
                            </div>
    
                            <div class="Category-Name">
                                <h5>Business</h5>
                                <p>396 Ads</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="Category-Box col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="Single-Category my-3" type="button" routerLink="/selected">
                        <div class="Align-Category">
                            <div class="Category-Image">
                                <img src="../../assets/Services.png">
                            </div>
    
                            <div class="Category-Name">
                                <h5>Services</h5>
                                <p>396 Ads</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="Category-Box col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="Single-Category my-3" type="button" routerLink="/selected">
                        <div class="Align-Category">
                            <div class="Category-Image">
                                <img src="../../assets/Animals.png">
                            </div>
    
                            <div class="Category-Name">
                                <h5>Animals</h5>
                                <p>396 Ads</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="Category-Box col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="Single-Category my-3" type="button" routerLink="/selected">
                        <div class="Align-Category">
                            <div class="Category-Image">
                                <img src="../../assets/Sports.png">
                            </div>
    
                            <div class="Category-Name">
                                <h5>Sports</h5>
                                <p>396 Ads</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="Category-Box col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="Single-Category my-3" type="button" routerLink="/selected">
                        <div class="Align-Category">
                            <div class="Category-Image">
                                <img src="../../assets/Jobs.png">
                            </div>
    
                            <div class="Category-Name">
                                <h5>Jobs</h5>
                                <p>396 Ads</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="Category-Box col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="Single-Category my-3" type="button" routerLink="/selected">
                        <div class="Align-Category">
                            <div class="Category-Image">
                                <img src="../../assets/Fashion.png">
                            </div>
    
                            <div class="Category-Name">
                                <h5>Fashion</h5>
                                <p>396 Ads</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="Category-Box col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="Single-Category my-3" type="button" routerLink="/selected">
                        <div class="Align-Category">
                            <div class="Category-Image">
                                <img src="../../assets/Education.png">
                            </div>
    
                            <div class="Category-Name">
                                <h5>Education</h5>
                                <p>396 Ads</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="Category-Box col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="Single-Category my-3" type="button" routerLink="/selected">
                        <div class="Align-Category">
                            <div class="Category-Image">
                                <img src="../../assets/Other.png">
                            </div>
    
                            <div class="Category-Name">
                                <h5>Other</h5>
                                <p>396 Ads</p>
                            </div>
                        </div>
                    </div>
                </div>

               
            </div>
        </div>
    </div>

    <div class="Paragraph my-5">
        <div class="col-10">
            <h3>Every purchase will be made with plessure</h3>
            <p>
                We work with global brands and have created an application for you to do your shopping easily and quickly. Many companies have forgotten they sell to actual people. Humans care about the entire experience, not just the marketing or sales or service. To really win in the modern age, you must solve for humans.
            </p>
        </div>
    </div>
    
</div>
